# Ignore node modules
node_modules/

# Vite / React build folders
dist/
dist-debug/
build/

# Netlify junk
.netlify/
functions/

# Test build output folders
test-dist/
working-app/
working-app-csp/
minimal-react/
test/

# Cache files
.vite/
.cache/
.eslintcache/

# System files
.DS_Store
Thumbs.db

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
